.App {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 25px;

  &__button{
    padding: 8px 15px;
    display: inline;
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-family: inherit;
    border-radius: 5px;
  }
  &__button:hover{
    cursor: pointer;
  }
  &__centered{
    text-align: center;
  }
  &__right{
    text-align: right;
  }
}