body{
    margin: 0;
    overflow: hidden;
}

.header{
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px;
    background-color: #ecf0f1;
}

.header-text{
    font-weight: normal;
    text-transform: uppercase;
}

.bold{
    font-style: normal;
    font-weight: bold
}