@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}


.Chart {
  margin: 0 auto;
  &__svg {
    //animation: moveSlideshow 12s linear;
  }
  &__bar {
    //transform: translate3d(0, 0, 0);
    max-width: 1500px;
    overflow: hidden;
    //animation: moveSlideshow 12s linear infinite;
  }
  &__title {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
  }
  &__hidden{
    display: none;
  }
}
